@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');


:root {

    /* Primary */

    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    --white: hsl(0, 0%, 100%);

}

/* font-family: 'Open Sans', sans-serif; 400 */
/* font-family: 'Poppins', sans-serif; 400, 600 */



/* General Configuration */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--Violet);
    background-image: url(../images/bg-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Header & Image configuration */

header img {
    margin: 2rem 0 0 2.5rem;
    width: 10rem;
}

.image img {
    margin-top: 3rem;
    width: 30rem;
    height: 20rem;
}


/* Content Design */

.content {
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    text-align: center;
    margin-top: 3rem;
}

.content-header {
    font-size: 1.4rem;
    line-height: 3rem;
}

.content-body {
    font-size: 1.3rem;
    margin: 1.5rem 0 4rem 0;
    line-height: 2rem;
    width: 26.5rem;
}


/* Button Design */

.button {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    text-decoration: none;
    background-color: var(--white);
    color: var(--Violet);
    padding: 1.25rem 7.75rem 1.25rem 7.75rem;
    border-radius: 2rem;
}

.button:hover {
    background-color: var(--Soft-Magenta);
    color: var(--white);
}


/* Icons Design */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.icons svg {
    margin: 0 0.5rem 0 0.5rem;
    padding: 1rem;
    width: 3.75rem;
    height: 3.75rem;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.icons a svg:hover {
    border: 2px solid var(--Soft-Magenta);
    fill: var(--Soft-Magenta);
}


/* DESKTOP DESIGN */

@media (min-width: 1440px) {

    body {
        background-image: url(../images/bg-desktop.svg);
        background-repeat: no-repeat;
    }

    header img {
        margin: 5rem 0 0 5rem;
        width: 22rem;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 7rem;
    }

    .image img {
        margin-left: 6rem;
        width: 75rem;
        height: 55rem;
    }


    .content {
        text-align: left;
        margin: 5rem 0 0 5rem;
        width: 70rem;
        height: 50rem;
    }


    .content-header {
        font-size: 2.5rem;
        line-height: 6rem;
        margin-top: 1rem;
    }

    .content-body {
        font-size: 1.6rem;
        margin: 1.5rem 0 6rem 0;
        line-height: 2.5rem;
        width: 50rem;
    }

    .button {
        font-size: 1.7rem;
        font-weight: 400;
        padding: 1.75rem 8rem 1.75rem 8rem;
        border-radius: 20rem;
        box-shadow: 5px 10px 20px rgba(0,0,0,0.45);
    }

    footer {
        justify-content: end;
        margin: 5rem 6.5rem 0 0;
    }

    .icons svg {
        width: 4.5rem;
        height: 4.5rem;
    }

}